@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Litera';
    src: url('/fonts/litera-light.otf');
}


@font-face {
    font-family: 'Logam';
    src: url('/fonts/logam-regular.otf');
}

h2 {
    font-family: 'Litera';
}

p {
    font-family: 'Logam';
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.reveal {
  opacity: 0;
}

.reveal.active {
  animation: FadeIn 500ms forwards;
}
